ProcastinationKiller.WS/.vs/ProcastinationKiller/v16/Server/sqlite3/storage.ide-wal
ProcastinationKiller.WS/.vs/ProcastinationKiller/v16/Server/sqlite3/storage.ide-shm
ProcastinationKiller.WS/.vs/ProcastinationKiller/v16/Server/sqlite3/db.lock
ProcastinationKiller.WS/Tests/TodosTests/obj/
ProcastinationKiller.WS/Tests/TodosTests/bin/
*.db
ProcastinationKiller.WS/.vs/
ProcastinationKiller.WS/ProcastinationKiller/appsettings.json
ProcastinationKiller.WS/Tests/TodosTests/appsettings.Development.json
ProcastinationKiller.WS/Engine/bin/
ProcastinationKiller.WS/Engine/obj/
ProcastinationKiller.WS/ProcastinationKiller/bin/
ProcastinationKiller.WS/ProcastinationKiller/obj/
src/DoItWebApi/out/
